/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Test-only configuration for nf-test runs.
// Update these values once a stable public Nanopore test dataset is available.
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/sars'
    local_test_data = "${projectDir}/tests/data"
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
